body {
    color: black;
    text-align: center
};

.ng-controller {
    width: 1000px; 
    text-align: center;
};

.jumbotron {
    width: 400px;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
};

.table{
    width: 400px;
}

.navbar-brand {
    vertical-align: inherit;
    text-align: center
};

#paragrafo{
    font-size: 7rem;
    margin-top: 10em;
}

#credenciais {
    margin-top: 720px;
    color: black;
    margin-left: 0.3em;
    font-size: 1.5rem;
};
.btn-red { 
    background-color: red; 
    color: rgb(163, 7, 7); 
    border: none; }

