body{
    color: black;
    font-size: 1.3rem;
    width: 70%;
}
h5{
    text-align: center;
    margin-left: 30em;
    color: black;
}

.form-control{
    margin-top: .3em;
    margin-left: 20em;
}

table{
    text-align: center;
    margin-left: 45em;
}

button{
    margin-left: 45em;
}